.head-block{
    background-color: rgb(201, 128, 19);
    height: 20vh;
    width: 100vw;
    text-align: right;
}
.game-menu{
    background-color: rgba(116, 136, 5, 0.226);
    width: 60vw;
    text-align: center;
    margin: 1rem auto;
}