.game-playground{
    width: 100vw;
    height: 50vh;
    background-color: darkgreen;
    display: flex;
    flex-flow: row nowrap;
}
.game-controller{
    width: 100%;
    height: 24vh;
    background-color: chocolate;
    display: flex;
    flex-flow: row nowrap;
}